<h5>
    {{!-- <div class="burger-name"> --}}
        <span class = "burger-name">
        {{burger_name}}
    </span>

	<button class="change-devoured btn btn-warning" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}<i class="fas fa-cookie-bite"></i> DEVOUR{{else}}<i class="fas fa-utensils"></i> REVIVE{{/if}}
	</button>
    
	<button class="delete-burger btn btn-danger" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i></button>

    {{!-- </div> --}}

</h5>
